@model ThroughEveryAge.Models.CalendarEventViewModel

@{
    ViewData["Title"] = "CreateEvent";
}

<h2>CreateEvent</h2>

<h4>CalendarEventViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Badge" /> @Html.DisplayNameFor(model => model.Badge)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Footer" class="control-label"></label>
                <input asp-for="Footer" class="form-control" />
                <span asp-validation-for="Footer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classname" class="control-label"></label>
                <input asp-for="Classname" class="form-control" />
                <span asp-validation-for="Classname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

