@{
    ViewData["Title"] = "About Benincasa";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p><strong>WHO WE ARE:&nbsp;</strong><i>Through Every Age (TEA) is an initiative of Benincasa Community, a small community rooted in the Catholic tradition and connected to the Catholic Worker Movement, Dominican Sisters, and the “98th Street” Jesuits led by Daniel Berrigan. Prior to founding Benincasa Community, we struggled to find nourishment, vitality, and inclusion in the structures of parish life and canonical organizations. Guided by the Gospel, we sought jobs as advocates and educators, yet we served without the spiritual, intellectual, emotional or practical support of community. We felt a deep and almost desperate desire to: (1) evolve and expand our understanding of God, (2) deepen our contemplative practice and our commitment to gospel action and (3) live in community. Since Benincasa Community began its journey in 2015, we have met and befriended many with similar desires. TEA is designed to support those similarly seeking but not called to join in residence at Benincasa Community.</i></p>
<p><strong>VISION:&nbsp;</strong><i>We envision a community striving together to mature in their faith through regular study, dialogue, and prayer. We believe that the spiritual inquiries and the intellectual challenges of TEA will enrich and renew its participants.</i></p>
<p><strong>MISSION:&nbsp;</strong><i>TEA offers individuals the tools and a community in which to grow. TEA is inspired by the early Christian communities’ commitment to mutual aid and from the prophetic voices found in every age.</i></p>
<p><strong>PROGRAM:&nbsp;</strong><i>Four Day-Long Retreats (with the option to stay overnight); A daily prayer & study web-based program (20-30 minutes each night)</i></p>
<br />
<br />
<p>Tapping the Spirit: ever ancient, ever new.</p>

