
@{
    ViewData["Title"] = "Calendar";
}

<h2>Calendar</h2>
<br />
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eventModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="eventModalBody" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@{ 
    if (User.IsInRole("Admin"))
    {
        <a asp-action="CreateEvent" asp-controller="Event">Create Event</a>
    }
}

<div id="my-calendar"></div>
<script type="text/javascript">

    $(document).ready(function () {

        getAllCalendarData();

      }); //end document redy

    function getAllCalendarData() {

        var calendarJson;

        fetch('/Home/GetCalendarData')
            .then(function (response) {
                if (response.ok) {
                    return response.json();
                }
            })
            .then(function (myJson) {

                //calendarJson = myJson;
                $("#my-calendar").zabuto_calendar({
                    language: "en",
                    action: function () {
                        fetch('/Home/GetSingleCalendarDate/?date=' + this.id)
                            .then(function (response) {
                                if (response.ok) {
                                    return response.json();
                                }
                            }).then(function (jsonResponse) {
                                if (jsonResponse != null) {
                                    //console.log(jsonResponse);
                                    $("#eventModalTitle").text(jsonResponse.title);
                                    $("#eventModalBody").text(jsonResponse.body);
                                    $("#eventModal").modal('show');
                                }
                           
                            });
                        //return myDateFunction(this.id, false);
                        //getAllCalendarData();
                        //return this.id;
                    },
                    action_nav: function () {
                        return myNavFunction(this.id);
                    },
                    data: myJson
                });
            });

     
    }
           
    function myDateFunction(id, fromModal) {

        if (fromModal) {
            $("#" + id + "_modal").modal("hide");
        }
        var date = $("#" + id).data("date");
        var hasEvent = $("#" + id).data("hasEvent");
        if (hasEvent && !fromModal) {

            fetch('/Home/GetSingleCalendarDate/?date=' + date)
                .then(function (response) {
                    if (response.ok) {
                        return response.json();
                    }
                }).then(function (jsonResponse) {
                    console.log(jsonResponse);

                    $("#my-calendar").zabuto_calendar({
                        language: "en",
                        action: function () {
                            return myDateFunction(this.id, false);
                            //getAllCalendarData();
                            //return this.id;
                        },
                        action_nav: function () {
                            return myNavFunction(this.id);
                        },
                        data: myJson
                    });

                    //getAllCalendarData();
                    //$("#eventModal").show();
                });

            //alert('this date has an event! ' + ' It is ' + date);
            return false;
        }

        //$("#date-popover-content").html('You clicked on date ' + date);
        //$("#date-popover").show();
        alert('You clicked on date ' + date);
        return true;
    }

    function myNavFunction(id) {
        //$("#date-popover").hide();
        var nav = $("#" + id).data("navigation");
        var to = $("#" + id).data("to");
        //console.log('nav ' + nav + ' to: \ + to.month + ' / ' + to.year);
        console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
</script>



