
@{
    ViewData["Title"] = "Calendar";
}

<h2>Calendar</h2>
<br />
<div id="my-calendar"></div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#my-calendar").zabuto_calendar({ language: "en" });
        //alert('test');
    });
</script>



