@model ThroughEveryAge.Models.LessonViewModel

@{
    ViewData["Title"] = "Daily Lessons";
}

<h2>Daily Lessons</h2>
<br />
@foreach (var lesson in Model.DailyLessons)
{
    @Html.ActionLink("Lesson Details for " + lesson.Date.ToString("d"), "ShowDailyLesson", "Home",  new {fileId = lesson.FileName, lessonId = lesson.LessonContentId })
    <br />
}
<br />
@{ 
    if (User.IsInRole("Admin") || (User.IsInRole("Manager")))
    {
        <a asp-action="CreateLesson" asp-controller="Home">Create Daily Lesson</a>

    }
}

