@model ThroughEveryAge.Models.LessonViewModel

@{
    ViewData["Title"] = "Daily Lesson";
}


<div>
    <h4>Lesson for: @Model.Date.ToString("d")</h4>
    <h2>@Model.Title</h2>
    <p>@Model.Description</p>
    <hr />
    <dl class="dl-horizontal"></dl>
    <br />

    @if (Model.FileExtension.ToLower() == ".mp3"
       || Model.FileExtension.ToLower() == ".m4a"
       || Model.FileExtension.ToLower() == ".aac")
    {
        <audio controls>
            <source src="~/uploads/@Model.FileName" />
        </audio>
    }

    @if (Model.FileExtension.ToLower() == ".jpg"
    || Model.FileExtension.ToLower() == ".png"
    || Model.FileExtension.ToLower() == ".gif"
    || Model.FileExtension.ToLower() == ".svg")
    {
        <img src="~/uploads/@Model.FileName" />

    }

    @if (Model.FileExtension.ToLower() == ".mp4"
       || Model.FileExtension.ToLower() == ".mpeg"
       || Model.FileExtension.ToLower() == ".mpv"
       || Model.FileExtension.ToLower() == ".webm"
       || Model.FileExtension.ToLower() == ".mpg")
    {
        <video width="320" height="240" controls>
            <source src="~/uploads/@Model.FileName" />
        </video>

    }
    @if (Model.FileExtension.ToLower() == ".pdf")
    {
        <embed src="~/uploads/@Model.FileName" type="application/pdf" width="800" height="2100" />
    }

    @*@if (Model.LessonTypeId == 1 || Model.LessonTypeId == 2) //1=reading, 2=reflection, 3=video, 4=Journal
        {
            <embed src="~/uploads/@Model.FileName" type="application/pdf" width="800" height="2100" />
        }*@
    @if (Model.LessonTypeId == 4)
    {
        <a asp-action="Create" asp-controller="Journals">Create Journal</a>
    }
</div>
<div>
    <a asp-action="DailyLessons">Back to List</a>
</div>
